.details-container{
    display: flex;
}

@media screen and (max-width: 768px){
    .details-container{
        flex-direction: column;
    }
    .timeline{
        order: -1;
        width:80%;
        height: 300px;
    }
}

@media screen and (max-width: 480px){

}